footer {
    background-color: black;
    color: white;
    padding: 15px;
        }
    body {
        width:100%;height:100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-color: black;
        background-image:url(../img/Hot-Sun.jpg);
    }
    .carousel-caption {
        padding : 10px ;
        margin-bottom : 10px ;
        background: black;
    }
    .multiline
    {
        padding:5px;
        white-space: pre-wrap;
    }
    .LOGO
    {
        max-width: 100%;
        height: auto;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    
    #newsList li{ display:none;
    }
    #loadMore {
        color:green;
        cursor:pointer;
    }
    #loadMore:hover {
        color:black;
    }
    #showLess {
        color:red;
        cursor:pointer;
        display:none;
    }
    #showLess:hover {
        color:black;
    }
    .marquee {
    
    height: 40px;
    width: auto;
    overflow: hidden;
    position: relative;

    }

    .marquee div {
    display: block;
    width: 200%;
    height: 30px;

    position: absolute;
    overflow: hidden;

    animation: marquee 5s linear infinite;
    }

    .marquee span {
    float: left;
    width: 50%;
    
    }

    @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
    }
    ul.nav.navbar-nav.navbar-right li.nav-item{
        /*background-color: #000033; */
        margin-right:20px ;
        background-color:None ;
        font-size:10px;
    }

    ul.nav.navbar-nav.navbar-right li.nav-item a:hover{
        /*background:#000033;*/
        background:None;
    }
    
     .modal-header, h4, .close {
        background-color: #FFCC00;
        color:white !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
    background-color: #f9f9f9;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #img-upload{
        width: 100%;
    }
    a:hover.btn{

        text-decoration:underline;
    }
    #alert-cap
    {
    border: 1px solid #FFFF66;
    background-color: #FFFFCC;
    display: inline-block;
    margin-left: 10px;
    padding: 3px;
    margin-top:3px;
    visibility:hidden;
    }