footer {
    background-color: #555;
    color: white;
    padding: 15px;
        }
    body {
        width:100%;height:100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-color: white;
        background-image:url(img/sea.gif);
    }
    .carousel-caption {
        padding : 10px ;
        margin-bottom : 10px ;
        background: black;
    }
    .multiline
    {
        padding:5px;
        white-space: pre-wrap;
    }
    .LOGO
    {
        max-width: 100%;
        height: auto;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    
    #newsList li{ display:none;
    }
    #loadMore {
        color:green;
        cursor:pointer;
    }
    #loadMore:hover {
        color:black;
    }
    #showLess {
        color:red;
        cursor:pointer;
        display:none;
    }
    #showLess:hover {
        color:black;
    }
    .marquee {
    height: 40px;
    width: auto;
    overflow: hidden;
    position: relative;
    }

    .marquee div {
    display: block;
    width: 200%;
    height: 30px;

    position: absolute;
    overflow: hidden;

    animation: marquee 5s linear infinite;
    }

    .marquee span {
    float: left;
    width: 50%;
    
    }

    @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
    }
    ul.nav.navbar-nav.navbar-right li.nav-item{
        /*background-color: #000033; */
        margin-right:20px ;
        background-color:None ;
        font-size:50px;
    }

    ul.nav.navbar-nav.navbar-right li.nav-item a:hover{
        /*background:#000033;*/
        background:None;
    }
    
     .modal-header, h4, .close {
        background-color: #FFCC00;
        color:white !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
    background-color: #f9f9f9;
    }